<head>
  <title>{% if page.title != "Qasim Iqbal" %}{{ page.title }} – Qasim Iqbal{% else %}{{ page.title }}{% endif %}</title>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  <meta name="robots" content="index, follow">
  <meta name="description" content="I'm Qasim Iqbal, this is my website where you can learn more about who I am and where you can find me on the web.">
  <meta name="keywords" content="qasim, iqbal, drqas, university of toronto" />
  <link rel="shortcut icon" href="/assets/img/favicon.ico" />
  <meta property="og:site_name" content="Qasim Iqbal" />
  <meta property="og:title" content="Qasim Iqbal" />
  <meta property="og:type" content="profile" />
  <meta property="og:profile:first_name" content="Qasim" />
  <meta property="og:profile:last_name" content="Iqbal" />
  <meta property="og:profile:username" content="DrQas" />
  <meta property="og:profile:gender" content="male" />
  <meta property="og:description" content="I'm Qasim Iqbal, this is my website where you can learn more about who I am and where you can find me on the web." />
  <meta property="og:image" content="/assets/img/profile.jpg" />
  <meta property="og:url" content="http://qas.im" />
  <meta property="fb:admins" content="1259490451" />
  <link rel="stylesheet" type="text/css" href="/assets/css/fonts/tuffy.css" />
  <link href='https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/qasim.css" />
</head>
