@font-face {
    font-family: 'Tuffy Bold';
    src: url('Tuffy_Bold-webfont.eot');
    src: url('Tuffy_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Tuffy_Bold-webfont.woff') format('woff'),
         url('Tuffy_Bold-webfont.ttf') format('truetype'),
         url('Tuffy_Bold-webfont.svg#tuffybold') format('svg');
    font-weight: bold;
    font-style: normal;
}
