<!doctype html>
<html lang="en">
  <head>
    <title>{{ .Title | default .Site.Title }}</title>

    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1" />

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

    <meta name="robots" content="index, follow">

    <meta name="description" content="{{ if .IsHome }}{{ $.Site.Params.description }}{{ else }}{{ .Description }}{{ end }}">
    <meta name="keywords" content="{{ delimit (union $.Site.Params.keywords .Keywords) ", " }}" />

    <meta property="og:title" content="{{ .Title | default .Site.Title }}" />
    <meta property="og:image" content="{{ if .Params.imageURL }}{{ .Params.imageURL | absURL }}{{ else }}{{ "images/qasim.png" | absURL }}{{ end }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:description" content="{{ if .IsHome }}{{ $.Site.Params.description }}{{ else }}{{ .Description }}{{ end }}" />

    {{ if .IsHome -}}
    <meta property="og:type" content="profile" />
    <meta property="og:profile:first_name" content="Qasim" />
    <meta property="og:profile:last_name" content="Iqbal" />
    {{- else if .IsPage -}}
    <meta property="og:type" content="article" />
    <meta property="og:article:author" content="Qasim Iqbal" />
    <meta property="og:article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}" />
    {{- else -}}
    <meta property="og:type" content="website" />
    {{- end }}

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="{{ if .IsHome }}{{ $.Site.Params.description }}{{ else }}{{ .Description }}{{ end }}" />
    <meta name="twitter:title" content="{{ .Title | default .Site.Title }}" />
    <meta name="twitter:site" content="@drqas" />
    <meta name="twitter:image" content="{{ if .Params.imageURL }}{{ .Params.imageURL | absURL }}{{ else }}{{ "images/qasim.png" | absURL }}{{ end }}" />
    <meta name="twitter:creator" content="@drqas" />

    {{ if .Params.sourceURL -}}
    <link rel="canonical" href="{{ .Params.sourceURL }}" />
    {{- end }}

    <link rel="icon" href="{{ "images/favicon.png" | relURL }}" />
    <link rel="apple-touch-icon" href="{{ if .Params.imageURL }}{{ .Params.imageURL | relURL }}{{ else }}{{ "images/qasim.png" | relURL }}{{ end }}" />

    <link rel="stylesheet" type="text/css" href="{{ "styles/fonts/nastaleeq.css" | relURL }}" />
    <link rel="stylesheet" type="text/css" href="{{ "styles/fonts/bagnard.css" | relURL }}" />
    <link rel="stylesheet" type="text/css" href="{{ "styles/fonts/libre-baskerville.css" | relURL }}" />
    <link rel="stylesheet" type="text/css" href="{{ "styles/normalize.css" | relURL }}" />
    <link rel="stylesheet" type="text/css" href="{{ "styles/qasim.css" | relURL }}?{{ now.Unix }}" />

    <script type="text/javascript" src="{{ "scripts/qasim.js" | relURL }}"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167187791-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-167187791-1');
    </script>
  </head>
  <body>
    <div class="wrapper">
      {{ block "main" . }}{{ end }}
    </div>
  </body>
</html>
