body {
  background-image: url('../img/brilliant.png');
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
}

  .header {
    line-height: 96px;
    background-color: #96d0d2;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 100000;
  }

    .header .title {
      font-family: 'cooper_hewittthin';
      font-size: 60px;
      color: #fff;
      letter-spacing: 3px;
      cursor: default;
      z-index: 0;
      pointer-events:none;
    }

      .header .title strong {
        font-family: 'cooper_hewittbook';
        font-weight: normal;
      }

    .navigation {
      text-align: right;
    }

      .navigation .item {
        display: inline;
        color: #fff;
        font-family: 'cooper_hewittsemibold';
        font-size: 14px;
        padding: 4px 6px;
        margin-left: 20px;
        cursor: pointer;
        transition: background 100ms ease-in-out
      }

      .navigation .item.active {
        background-color: rgba(20,60,60,0.3);
      }

  .header.small {
    height: 48px;
    line-height: 48px;
  }

    .header.small .title {
      font-size: 36px;
    }

  .header-spacer {
    height: 96px;
  }

  .main {
    font-family: 'cooper_hewittlight';
    margin-top: 48px;
    margin-bottom: 64px;
  }

    .main .title {
      font-family: 'cooper_hewittbook';
      letter-spacing: 1px;
      line-height: 30px;
    }

    .main .content {
      line-height: 30px;
    }

      .main .content img {
        height: 0.8em;
      }

      .main .content .faint {
        font-size: 14px;
        color: rgba(0,0,0,0.5);
      }

      .main .content .technology {
        display: inline;
        padding: 4px 6px;
        margin-right: 12px;
        background: rgba(0, 0, 0, 0.07);
      }

      .main .content .spacer {
        height: 18px;
      }

      .work-title {
        font-size: 18px;
      }

      strong {
        font-family: 'cooper_hewittbook';
        font-weight: normal;
      }

      .work-info ul {
        margin: 0px;
        padding-left: 14px;
        list-style-type: none;
      }

      ul li:before{ content:"-"; position:relative; left:-6px;}
      ul li{ text-indent:-6px; }

      .work-spacer {
        height: 20px;
      }

      .project-image {
        border: 4px solid rgba(0, 0, 0, 0.07);
        height: 168px;
      }

      .project-year {
        margin-top: 4px;
        float: left;
        font-family: 'cooper_hewittmedium';
        font-size: 13px;
      }

      .project-technologies {
        font-family: 'cooper_hewittmedium';
        margin-top: 4px;
        float: right;
        font-size: 13px;
        width: 100%;
      }

      .project-spacer {
        height: 8px;
      }

      .project-year .technology {
        margin: 0px;
      }

      .project-technologies .technology {
        margin-left: 3px;
        margin-right: 0px !important;
      }

      .project-technologies .technology.link {
        display: block;
        height: 16px;
        line-height: 16px;
        margin-top: 3px;
        background: #fff;
      }

      .uoft-class-distances {
        background: url(../img/uoft-class-distances.png) center center no-repeat;
        background-size: cover;
      }
      .q-2048 {
        background: url(../img/q-2048.png) center center no-repeat;
        background-size: cover;
      }
      .frc-2014 {
        background: url(../img/frc-2014.png) center center no-repeat;
        background-size: cover;
      }
      .youtube-app {
        background: url(../img/youtube-app.png) center center no-repeat;
        background-size: cover;
      }
      .grubber {
        background: url(../img/grubber.png) center center no-repeat;
        background-size: cover;
      }
      .french {
        background: url(../img/french.png) center center no-repeat;
        background-size: cover;
      }

      .main a:link, .main a:visited {
        font-family: 'cooper_hewittmedium';
        text-decoration: none;
        color: #000;
      }

      .main a:hover {
        border-bottom: 1px dotted #5f5f5f;
      }

      #connect .grid-85 {
        margin-bottom: 12px;
      }

      .block-spacer {
        margin-top: 18px;
        border-top: 1px solid #e0e0e0;
        margin-bottom: 19px;
      }

  .final-spacer {

  }


@media only screen and (max-width : 1000px) {

  .header {
    height: auto;
  }

	.header .title {
    float: none;
    padding: none;
    margin: none;
    display: block;
    width: 100%;
    text-align: center;
  }

  .header .navigation {
    float: none;
    padding: none;
    margin: none;
    display: block;
    width: 100%;
    text-align: center;
    height: 48px;
    line-height: 48px;
    height: auto;
  }

  .header .navigation .item {
    margin-left: 12px;
    margin-right: 12px;
  }

  .header-spacer {
    height: 146px;
  }

}

@media only screen and (max-width : 767px) {

  #projects .grid-60 {
    padding-top:12px;
  }

  .main .title {
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #ccc;
  }

}

@media only screen and (max-width : 560px) {

  .header {
    position: relative;
  }

	.header .title {
    font-size: 52px;
  }

  .header .navigation {

  }

  .header .navigation .item {
    display: block;
    background: #72B3B5;
    margin: 12px;
  }

  .header-spacer {
    height: 0px;
  }

}
