@media (prefers-color-scheme: light) {
  :root {
    --background-color: #DECCCB;
    --foreground-color: #383838;
    --focus-color: #F8EEED;
    --highlight-foreground-color: #F8EEED;
    --highlight-background-color: #96746C;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #383838;
    --foreground-color: #DECCCB;
    --focus-color: #101010;
    --highlight-foreground-color: #F8EEED;
    --highlight-background-color: #96746C;
  }
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: 'Bagnard', 'Times New Roman';
  text-align: center;
}

.photo {
  outline: 8px solid var(--foreground-color);
  outline-offset: -8px;
}

.english-first-name .first {
  background-color:  var(--foreground-color);
  color: var(--background-color);
  font-size: 36px;
  padding: 8px;
}

.english-first-name .first.pronunciation {
  padding-top: 2px;
}

.english-last-name .last {
  font-size: 36px;
  padding: 8px;
}

.urdu-name {
  font-family: 'Nastaleeq', 'Times New Roman';
  font-size: 48px;
}

.urdu-name .first {
  background-color:  var(--foreground-color);
  box-shadow: inset 0px 6px 0px var(--background-color), inset 0px 7px 0px var(--foreground-color);
  clip-path: inset(6px 0px 0px 0px);
  color: var(--background-color);
  display: block;
  margin-top: -6px;
  padding-bottom: 8px;
  padding-left: 6px;
  padding-right: 6px;
}

.links {
  display: flex;
  flex-direction: column;
  order: 5;
}

a:link, a:visited {
  background-color: var(--foreground-color) !important;
  color: var(--background-color) !important;
  text-decoration: none;
}

a:hover {
  background-color: var(--highlight-background-color) !important;
  color: var(--highlight-foreground-color) !important;
  outline: 1px solid var(--foreground-color);
  outline-offset: -1px;
}

a:active {
  background-color: var(--focus-color) !important;
  color: var(--foreground-color) !important;
  outline: 1px solid var(--foreground-color);
  outline-offset: -1px;
}


@media only screen and (min-width: 601px) {
  body {
    margin-top: 64px;
    margin-bottom: 64px;
  }

  .container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
  }

  .english-first-name {
    display: flex;
    flex-direction: row;
    order: 1;
  }

  .english-first-name .first {
    align-self: flex-end;
    margin-right: 8px;
  }

  .english-last-name .last {
    margin-right: 8px;
    text-align: right;
  }

  .english-last-name {
    order: 4;
  }

  .photo {
    height: 278px;
    order: 2;
    width: 278px;
  }

  .urdu-name {
    margin-left: 8px;
    order: 3;
  }

  .urdu-name .last {
    margin-left: 2px;
    text-align: left;
  }

  .links {
    align-items: flex-end;
  }

  .links a {
    margin-top: 8px;
    padding: 6px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    margin: 16px;
    margin-bottom: env(safe-area-inset-bottom, 16px);
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .english-first-name {
    order: 3;
  }

  .english-first-name, .english-first-name .first {
    display: inline-block;
  }

  .english-last-name {
    order: 4;
    display: inline-block;
  }

  .english-last-name, .english-last-name .last {
    display: inline-block;
  }

  .photo {
    margin-bottom: 16px;
    margin-top: 16px;
    order: 2;
    width: 100%;
  }

  .urdu-name {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    order: 1;
    width: 100%;
  }

  .urdu-name .first {
    margin-left: 8px;
  }

  .links {
    width: 100%;
  }

  .links a {
    margin-top: 16px;
    padding: 14px;
  }
}
