html, body {
  width: 100%;
}

body {
  font-family: 'Source Serif Pro';
  font-size: 18px;
  color: #2F2F2F;
  background: #FFFFFF;
  margin: 0;
  border-top: 4px solid #2F2F2F;
}

a:link, a:visited {
  text-decoration: none;
  color: #2F80ED;
}

h1 {
  display: inline-block;
  font-family: 'Alte Din 1451';
  font-weight: normal;
  font-size: 48px;
  color: #2F2F2F;
  padding: 0;
  margin-top: 18px;
  margin-bottom: 14px;
  margin-left: 24px;
}

#name:focus {
  outline: none;
}

#name:hover::after, #name:focus::after {
  content: ' “kassem”';
  color: #828282;
}

.content {
  max-width: 320px;
  margin-left: 24px;
  margin-right: 24px;
  line-height: 28px;
}

.content p:first-child {
  margin-top: 0;
}

.content p:last-child {
  margin-bottom: 0;
}

.content a:hover {
  border-bottom: 1px dotted #2F2F2F;
}
