body {
  margin: 0;
  font-size: 19px;
  text-align: center;
  color: #666;
  background: #f6f6f6;
}

.header {
  display: inline-block;
  padding: 6px;
  padding-top: 38px;
  margin-bottom: 12px;
  font-family: 'cooper_hewittmedium';
  font-size: 32px;
  color: #000;
  border-bottom: 3px solid #3f85db;
  animation: fadein 1s ease;
}

.name {
  display: inline-block;
}

.content-piece {
  font-family: 'cooper_hewittlight';
  margin: 0 auto;
  margin-top: 26px;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 480px;
  line-height: 32px;
  animation: fadein 1s ease;
}

.content-piece.last {
  margin-bottom: 26px;
}

a:link, a:visited {
  font-family: 'cooper_hewittmedium';
  text-decoration: none;
  color: #000;
}

a:hover {
  border-bottom: 1px dotted #5f5f5f;
}

#uoft {
  color: #002f65;
}

#github {
  color: #373737;
}

#twitter {
  color: #0084b4;
}

#instagram {
  color: #8d5744;
}

#linkedin {
  color: #0d4b6f;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media only screen and (max-width : 560px) {

  body {
    text-align: left;
  }

  .header {
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
    max-width: 480px;
    border-bottom: none;
    font-size: 28px;
  }

  .bar {
    border-top: 6px solid #3f85db;
  }
  
}
