<div class="disjoint post about">
  <div class="navigation">
    <a class="button back" href="/" title="Go home">
      {{ partial "arrow.svg" . }}
    </a>
  </div>
  <div class="content">
    <p>
      I am a <a href="https://en.wikipedia.org/wiki/Pakistani_Canadians/">Pakistani Canadian</a> residing in the city of <a href="https://www.google.com/maps/place/Toronto,+ON/">Toronto</a>.
    </p>
    <h1>Work</h1>
    <p>
      I plan and write software with organizations to make a living. A few of my latest experiences follow.
    </p>
    <div class="header-holder">
      <a href="http://withdouble.com"><h2>Double Atelier</h2></a>
      <div class="date">January 2020 － Present</div>
    </div>
    <p>
      I originally joined Double to rewrite their iOS apps from scratch with a brand new team, responsible for things such as project structure, app architecture, and a build system.
    </p>
    <p>
      I now actively maintain the apps and build new features weekly as we continue to grow.
    </p>
    <div class="header-holder">
      <a href="http://microsoft.com"><h2>Microsoft Corporation</h2></a>
      <div class="date">May 2016 － December 2019</div>
    </div>
    <p>
      I was a member of the <a href="https://www.microsoft.com/microsoft-365/outlook-mobile-for-android-and-ios/">Outlook for iOS</a> team, responsible for many of the app's core pieces including authentication, security, navigation, shareable UI components, and a comprehensive build system.
    </p>
    <p>
      Notably, I led engineering on a <a href="https://www.theverge.com/2018/12/5/18125281/microsoft-outlook-design-update-ios-iphone/">major redesign</a> of the app, work that was later shared and spread across the <a href="https://www.theverge.com/2019/12/5/20996748/microsoft-fluent-design-mobile-office-apps-new-updates-features/">entire company</a>.
    </p>
    <p>
      At the time, Outlook was a centerpiece of many emerging partner teams, which meant building guidelines and systems for how other teams could contribute to the project without sacrificing performance or quality.
    </p>
    <p>
      I saw our team grow from eight engineers to over thirty, and built many of my foundations on what teamwork at the workplace looks like during my time at Microsoft.
    </p>
  </div>
  {{ partial "fin.html" }}
</div>
