:root {
  --highlight-foreground-color: #F8EEED;
  --highlight-background-color: #96746C;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #EEDFDE;
    --foreground-color: #383838;
    --focus-color: #F8EEED;
    --body-text-color: #101010;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #383838;
    --foreground-color: #EEDFDE;
    --focus-color: #101010;
    --body-text-color: #F8EEED;
  }
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: 'Libre Baskerville', Baskerville, Baskerville Old Face, Hoefler Text, Garamond, Times New Roman, serif;
  font-size: 18px;
  text-align: center;
}

.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

.photo-link {
  display: block;
  background-color: var(--highlight-background-color);
  outline: 8px solid var(--foreground-color);
  outline-offset: -8px;
}

.photo {
  box-sizing: border-box;
}

.english-first-name .first, .english-last-name .last {
  font-family: 'Bagnard', Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif;
  font-size: 36px;
  padding: 6px 7px;
}

.english-first-name .first, .english-last-name .last {
  padding-bottom: 2px;
}

.urdu-name .first, .urdu-name .last {
  font-family: 'Alvi Nastaleeq', serif;
  font-size: 48px;
}

.urdu-name .first {
  display: block;
  font-size: 48px;
  line-height: 40px;
  padding-bottom: 21px;
  padding-left: 8px;
  padding-right: 7px;
  padding-top: 8px;
}

.links {
  display: flex;
  flex-direction: column;
  order: 5;
}

a:link, a:visited {
  background-color: var(--foreground-color);
  color: var(--background-color);
  font-family: 'Bagnard', Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif;
  font-size: 18px;
  text-decoration: none;
}

a:hover {
  background-color: var(--highlight-background-color);
  color: var(--highlight-foreground-color);
  outline: 1px solid var(--foreground-color);
  outline-offset: -1px;
}

a:active {
  background-color: var(--focus-color);
  color: var(--body-text-color);
  outline: 1px solid var(--foreground-color);
  outline-offset: -1px;
}

a:link path, a:visited path {
  fill: var(--background-color);
}

a:hover path {
  fill: var(--highlight-foreground-color);
}

a:active path {
  fill: var(--body-text-color);
}

.photo:hover {
  outline: 8px solid var(--foreground-color);
  outline-offset: -8px;
}

.photo:active {
  outline: 8px solid var(--focus-color);
  outline-offset: -8px;
}

h1 {
  font-family: 'Bagnard', Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif;
  font-size: 36px;
  margin: 0;
}

h2 {
  font-family: 'Bagnard', Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif;
  font-size: 24px;
  margin: 0;
}

h3 {
  font-family: 'Bagnard', Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif;
  font-size: 18px;
  margin: 0;
}

.posts {
  display: flex;
  flex-direction: column;
}

.posts h2 {
  margin-bottom: 6px;
}

.posts a .date {
  font-size: 14px;
}

.posts.archive {
  flex-direction: column;
  order: 0;
}

.archive h2 {
  margin: 0;
}

.navigation {
  display: flex;
}

a.back {
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  margin-top: 0;
}

a.external {
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  padding: 5px 6px 3px 6px;
  margin-left: 8px;
}

.post {
  margin-bottom: 16px;
  max-width: 680px;
  text-align: left;
}

.post h1 {
  color: var(--body-text-color);
  margin: 0;
  margin-top: 32px;
}

.post .date {
  margin-top: 6px;
  margin-bottom: 18px;
  color: var(--body-text-color);
  font-family: 'Bagnard', Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif;
  font-size: 16px;
}

.content p:last-child {
  margin-bottom: 0;
}

.content h1:not(:first-child) {
  padding-top: 22px;
}

.content h2 {
  margin-top: 54px;
}

.content p:first-child {
  padding-top: 2px;
}

.content {
  font-size: 18px;
  line-height: 36px;
  color: var(--body-text-color);
  margin-top: 22px !important;
}

.content a:link, .content a:visited {
  background: none;
  color: var(--body-text-color);
  font-family: 'Libre Baskerville', Baskerville, Baskerville Old Face, Hoefler Text, Garamond, Times New Roman, serif;
  font-size: 18px;
  outline: none;
  outline-offset: 0;
  text-decoration: underline;
  text-decoration-color: var(--body-text-color);
  text-decoration-thickness: 1px;
}

.post .fin {
  font-family: 'Bagnard', Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif;
  text-align: center;
  color: var(--body-text-color);
}

.post .header-holder {
  line-height: 20px;
}

@media only screen and (min-width: 640px) {
  html {
    height: 100%;
  }

  body {
    height: 100%;
  }

  .wrapper {
    align-items: center;
    justify-content: center;
    padding-bottom: calc(env(safe-area-inset-bottom, 0px) + 32px);
    padding-left: calc(env(safe-area-inset-left, 0px) + 32px);
    padding-right: calc(env(safe-area-inset-right, 0px) + 32px);
    padding-top: calc(env(safe-area-inset-top, 0px) + 32px);
  }

  .signature {
    display: grid;
    grid-template-columns: 181px 278px 181px;
  }

  .english-first-name {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    order: 1;
  }

  .english-first-name .first {
    align-self: flex-end;
    margin-right: 8px;
  }

  .english-first-name .first.pronunciation {
    margin-left: -4px;
  }

  .english-last-name {
    order: 4;
  }

  .english-last-name .last {
    margin-right: 8px;
    text-align: right;
  }

  .photo-link {
    height: 278px;
    order: 2;
    width: 278px;
  }

  .urdu-name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 8px;
    order: 3;
  }

  .urdu-name .first {
    align-self: flex-start;
  }

  .urdu-name .last {
    margin-left: 2px;
    margin-top: 6px;
    text-align: left;
  }

  .links {
    align-items: flex-end;
  }

  .links a {
    margin-top: 8px;
    padding: 7px 7px 3px 7px;
  }

  .joint {
    margin-bottom: 8px;
    order: 0;
  }

  .disjoint {
    margin-bottom: 32px;
    order: 0;
  }

  .posts {
    width: 278px;
    align-items: flex-start;
  }

  .joint.posts {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .posts a {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px 10px 8px 10px;
  }

  .joint.posts a {
    margin-top: 8px;
  }

  .joint.posts a:last-of-type {
    margin-top: 0;
  }

  .disjoint.posts a {
    margin-top: 8px;
  }

  .disjoint.posts a:first-of-type {
    margin-top: 0;
  }

  .posts h2 {
    margin-top: 32px;
    color: var(--body-text-color);
  }

  .posts a h3 {
    display: block;
    text-align: left;
    margin-bottom: 4px;
  }

  .posts a h3 span {
    display: block;
  }

  .posts .overflow {
    padding: 13px;
  }

  a.back {
    width: 30px;
    min-height: 30px;
    padding: 0;
  }

  .post {
    min-width: 278px;
    margin-bottom: 36px;
  }

  .archive {
    margin-bottom: 24px;
  }

  .archive h2 {
    margin-top: 24px;
    margin-bottom: 6px;
  }

  .nothing {
    text-align: left;
    width: 278px;
  }

  .post .fin {
    margin-top: 18px;
    margin-bottom: -14px;
  }
}

@media only screen and (max-width: 639px) {
  body {
    padding-bottom: calc(env(safe-area-inset-bottom, 0px) + 16px);
    padding-left: calc(env(safe-area-inset-left, 0px) + 16px);
    padding-right: calc(env(safe-area-inset-right, 0px) + 16px);
    padding-top: calc(env(safe-area-inset-top, 0px) + 16px);
  }

  .signature {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .english-first-name {
    order: 3;
  }

  .english-first-name, .english-first-name .first {
    display: inline-block;
  }

  .english-last-name {
    order: 4;
    display: inline-block;
    margin-left: 4px;
  }

  .english-last-name, .english-last-name .last {
    display: inline-block;
  }

  .photo-link {
    margin-bottom: 16px;
    margin-top: 16px;
    order: 2;
    width: 100%;
  }

  .urdu-name {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    order: 1;
    width: 100%;
  }

  .urdu-name .first {
    margin-left: 8px;
  }

  .urdu-name .last {
    margin-top: 6px;
  }

  .links {
    width: 100%;
  }

  .links a {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    min-height: 44px;
    padding: 12px 12px 9px 12px;
  }

  .joint {
    margin-top: 16px;
    order: 1;
  }

  .disjoint {
    margin-bottom: 32px;
    order: 0;
  }

  .posts a:link, .posts a:visited {
    padding: 12px 12px 9px 12px;
  }

  .joint.posts a {
    margin-top: 16px;
  }

  .joint.posts a:first-of-type {
    margin-top: 0;
  }

  .disjoint.posts a {
    margin-top: 16px;
  }

  .disjoint.posts a:first-of-type {
    margin-top: 0;
  }

  .posts h2 {
    margin-top: 32px;
  }

  .posts a h3 {
    margin-bottom: 5px;
  }

  .button {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    line-height: 0;
    min-height: 44px;
    padding: 12px !important;
  }

  .button.back {
    min-width: 44px;
    max-width: 44px;
    margin-top: 0;
  }

  .button.external {
    line-height: initial;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;
    min-height: 44px;
    margin-left: 16px;
    text-align: center;
  }

  .post {
    padding-bottom: 22px;
    margin-bottom: 0px;
  }

  .archive {
    margin-bottom: 32px;
  }

  .archive h2 {
    text-align: left;
    margin-top: 32px;
    margin-bottom: -8px;
  }

  .post .fin {
    margin-top: 20px;
  }
}
